@import 'variables';

body {
  background-color: $color--bg--main;
  color: $color--text;
  font-family: 'Open Sans', sans-serif;
}

nav {
  margin: 0 auto;

  a {
    text-align: center;
    text-decoration: none;
    color: $color--nav-links;
  }
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  background-color: $color-background-nav;
  list-style-type: none;

  li {
    /// Cancel out the default 40px left margin on <li> elements.
    margin-left: -40px;
  }
}
