@import 'variables';

body {
   background-color: $color--main-bg;
   color: $color-foreground;
   font-family: 'Open Sans', sans-serif;
}

nav {
   margin: 0 auto;

   a {
      text-align: center;
      text-decoration: none;
      color: $color-nav-links;
   }
}

h1 {
   text-align: center;
}
