// Update the following variable when adding/removing top-level nav items. For
// example, if you wanted to expand the nav to three top-level items, you’d add
// another top-level nav item to the menu (similar to lines 13 – 19 in
// index.html) by adding an <li> element with a nested <ul> element to the
// <nav> element, then update the value to the following variable,
// $drop-down-menu-count to 3.
$drop-down-menu-count: 2;
$width-nav-item: 150px;
$width-nav: $width-nav-item * $drop-down-menu-count;

// This variable defines the uniform height of each nav item.
$height-nav-item: 48px;

// Increase 0 to uniformly change the height of each inner nav item.
$height-inner-li: ($height-nav-item + 0);

$color--bg--main: #21bde1;
$color--bg--nav: #fff;
$color--text: #555;
$color--nav-links: #000;
