////
/// Variables
////

/*
Update the value to $drop-down-menu-count when adding more drop-down items to the navigation. For example, if you were
to add a third <li> with a nested list to the navigation, you’d update the value to $drop-down-menu-count to 3.

<li><a href="#">Menu 3</a>
  <ul>
    <li><a href="#">3.1</a></li>
    <li><a href="#">3.2</a></li>
    <li><a href="#">3.3</a></li>
  </ul>
</li>
*/
$drop-down-menu-count: 2;

///
/// Widths
///
$width--drop-down-menu-item: 150px;
$width--drop-down-menu: ($width--drop-down-menu-item * $drop-down-menu-count);

///
/// Heights
///
$height--drop-down-menu-item: 48px;                                   // This variable defines the uniform height of each nav item.
$height--drop-down-menu-item--li: ($height--drop-down-menu-item + 0); // Increase 0 to uniformly change the height of each inner nav item.

///
/// Colors
///
$background-color--main: #21bde1;
$background-color--nav: #fff;
$color--text: #555;
$color--nav-links: #000;
