// Update the following variable when adding/removing top-level nav items. For
// example, if you wanted to expand the nav to three top-level items, you’d add
// another top-level nav item to the menu (similar to lines 13 – 19 in
// index.html) by adding an <li> element with a nested <ul> element to the
// <nav> element, then update the value to the following variable,
// $sub-nav-count to 3.
$sub-nav-count:  2;
$width-nav-item: 150px;
$width-nav:      $width-nav-item * $sub-nav-count;

// This variable defines the uniform height of each nav item.
$height-nav-item: 48px;

// Increase 0 to uniformly change the height of each inner nav item.
$height-inner-list-items: ($height-nav-item + 0px);

$color-nav-links:        #000;
$color-code-sample-link: #7d4793;
$color--main-bg:         #21bde1;
$color-foreground:       #555;
$color-background-nav:   #fff;
