// Update the following variable when adding/removing top-level nav items. For
// example, if I want to add another top-level nav item to the menu, I’d add an <li>
// element with a nested <ul> element to index.html, then update the value to the
// following variable to 3.
$sub-nav-count:  2;
$width-nav-item: 150px;
$width-nav:      $width-nav-item * $sub-nav-count;

// This variable defines the uniform height of each nav item.
$height-nav-item: 48px;

// The following variable is used in the anchor styled at the tail of main.scss.
// Increase the 0 to uniformly change the height of each inner nav item.
$height-inner-list-items: ($height-nav-item + 0);

$color-nav-links:        #000;
$color-code-sample-link: #7d4793;
$color--main-bg:         #21bde1;
$color-foreground:       #555;
$color-background-nav:   #fff;
