@import 'fonts';
@import 'variables';
@import 'base';

nav {
   width: $width-nav;
   height: $height-nav-item;

   a {
      display: block;
      width: $width-nav-item;
      line-height: $height-nav-item;

      &:hover {
         background-color: lighten($color--main-bg, 40%);
      }
   }

   ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      > li {
         float: left;
         width: $width-nav-item;
         position: relative;
         background-color: $color-background-nav;

         &:hover {
            > ul {
               visibility: visible;
            }
         }

         > ul {
            visibility: hidden;
            position: absolute;
            left: 0;

            a {
               line-height: $height-inner-list-items;
               height: $height-inner-list-items;
            }
         }
      }
   }
}
